<body>
	<div class="container">
		<h1>tableplace</h1>
		<div class="box_container_container">
			<div class="box_container">
				<div class="group_box">
					<h3><%= link_to 'create group', new_team_path%></h3>
				</div><!--group_box-->
			</div><!--box_container-->
			<div class="box_container">
				<div class="group_box">
					<h3>groups</h3>   <!-- CHANGE PATH!!!! -->
				</div><!--group_box-->
			</div><!--box_container-->
		</div><!--box_container_container-->
	</div><!--container-->
</body>
© 2018 GitHub, Inc.